@model IEnumerable<BanCayTrong.Models.MatHang>
@{
    ViewData["Title"] = "Cửa hàng";
}
<div class="container px-4 px-lg-5 mt-1">
    <h3 class="text-success">Tất cả sản phẩm</h3>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var i in Model)
        {
        <div class="col-md-3 mb-5">
            <div class="card h-100">
                <!-- Sale badge-->
                @if (int.Parse(i.Giaban.ToString()) < int.Parse(i.Giagoc.ToString()))
                    {
                <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Giảm giá</div>
                    }
                <!-- Product image-->
                <a asp-action="Detail" asp-route-id="@i.Mamh"><img class="card-img-top" src="~/images/mathang/@i.Hinhanh" /></a>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <a class="text-decoration-none" asp-action="Detail" asp-route-id="@i.Mamh"> <h5 class="fw-bolder text-black">@i.Ten</h5></a>
                        <!-- Product price-->
                        @if (int.Parse(i.Giagoc.ToString()) == int.Parse(i.Giaban.ToString()))
                                {
                        <span class="text-danger fw-bolder">@i.Giaban.ToString("n0")đ</span> }
                                else
                                {
                        <span class="text-muted text-decoration-line-through">@i.Giagoc.ToString("n0")đ</span>
                        <span class="text-danger fw-bolder">@i.Giaban.ToString("n0")đ</span>
                                }
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-success mt-auto" asp-action="AddToCart" asp-route-id="@i.Mamh">Thêm vào giỏ</a></div>
                </div>
            </div>
        </div>
        }
    </div>
</div>

