@model IEnumerable<BanCayTrong.Models.HoaDon>;
@{
    ViewData["Title"] = "Thống kê theo thời gian";
}

<h1 class="text-info">Thống kê theo thời gian</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="submitThongKeThoiGian">
            <div class="form-group">
                <label>Ngày bắt đầu</label> <input type="date" name="ngaybatdau" />
            </div>
            <div class="form-group">
                <label>ngày kết thúc</label> <input type="date" name="ngayketthuc" />
            </div>
            <div class="form-group">
                <input class="btn btn-info my-1" type="submit" value="Thống kê" />
            </div>
        </form>
    </div>
</div>

<hr />
<h5>Kết quả thống kê doanh thu từ ngày @ViewData["ngaybatdau"] đến ngày @ViewData["ngayketthuc"]</h5>
<label>Doanh thu: @ViewData["tongtien"] đ</label>
<hr />

<div class="border border-secondary">
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã hóa đơn</th>
                <th>Khách hàng</th>
                <th>Ngày lập</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                int stt = 1;
                foreach(HoaDon hd in Model)
                {
                        <tr>
                            <td>@stt</td>
                            <td>@hd.Mahd</td>
                            <td>@hd.MakhNavigation.Ten</td>
                            <td>@hd.Ngay</td>
                            <td>@hd.Tongtien</td>
                        </tr>
                }
            }            
        </tbody>
    </table>
</div>